html, body {
  height: 100%;
  margin: 0;
}
.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid > div {
  display: flex;
  flex-basis: calc(33.33% - 14px);
  justify-content: center;
  flex-direction: column;
}

.grid > div:last-child {
  display: flex;
  margin-top: 0px;
  flex-basis: calc(100% - 22px);
  justify-content: center;
  flex-direction: column;
}

.grid > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.carImage{
  height: 100px;
  width: 200px;
}

.carBox{
  border: 1px black solid;
  padding: 10px;
}


.box { margin: 10px 0 10px 10px; padding: 10px;}
.box4 { background-color: lightblue; }
